$font1: Georgia, Times new roman, serif;
$lightgrey: #a4a4a4;

body {
  width:100% !important;
  margin:0 !important;
  padding:0 !important;
  line-height: 1.4;
  word-spacing:1.1pt;
  letter-spacing:0.2pt; 
  font-family: $font1;
  color: #000; 
  background: none; 
  font-size: 12pt;

}

a:link, a:visited {
  color: #520;
  background: transparent;
  font-weight: bold;
  text-decoration: underline;
}

a:link:after, a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
}

div#logo, div#topnav, div#footer, div#subnav, div#status-menu, div#burndown {
  display:none;
}

div#storylist ul {
  padding: 0;
}

span.soft {
  color: red;
}

li.story {
  display: block;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;

  div.expand {
    display: none;
  }


  div {
    display: inline-block;
  }
  .storyheader {
    width: 100%;
    line-height: 24px;
    height: 24px;
    position: relative;
    div.grip {
      display: none;
    }
  }
  .story-menu {
    vertical-align: middle;
  }
  .priority {
    white-space: nowrap;
    width: auto;   
  }
  .priority:before {
    content: "Priority: ";
    color: $lightgrey;
    opacity: 0.2;
  }
  .points {
    padding-left: 15px;
    width: auto;
  }
  .points:before {
    content: "Story Points: ";
    color: $lightgrey;
    opacity: 0.2;
  }
  .edit-story {
    display: none;
  }

  div.storybody {
    display: inline-block !important;    
  }  
}
li.story:last-child {
  border-bottom: none;
}

div#storylist div.full-description ul {
    padding-left: 40px;
}

div.story-menu {
  position: absolute;
  top: 30px;
  left: 2px;
}

div.naam {
 
   font-size: 24pt;
   font-weight: bold;
   
}

div.full-description {
  padding: 20px 2px 0px 2px;

}