@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\000034}}
body {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.4;
  word-spacing: 1.1pt;
  letter-spacing: 0.2pt;
  font-family: Georgia, Times new roman, serif;
  color: #000;
  background: none;
  font-size: 12pt; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000318}}
a:link, a:visited {
  color: #520;
  background: transparent;
  font-weight: bold;
  text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000325}}
a:link:after, a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000330}}
div#logo, div#topnav, div#footer, div#subnav, div#status-menu, div#burndown {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000334}}
div#storylist ul {
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000338}}
span.soft {
  color: red; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000342}}
li.story {
  display: block;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000347}}
  li.story div.expand {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000352}}
  li.story div {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000355}}
  li.story .storyheader {
    width: 100%;
    line-height: 24px;
    height: 24px;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000360}}
    li.story .storyheader div.grip {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000364}}
  li.story .story-menu {
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000367}}
  li.story .priority {
    white-space: nowrap;
    width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000371}}
  li.story .priority:before {
    content: "Priority: ";
    color: #a4a4a4;
    opacity: 0.2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000376}}
  li.story .points {
    padding-left: 15px;
    width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000380}}
  li.story .points:before {
    content: "Story Points: ";
    color: #a4a4a4;
    opacity: 0.2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000385}}
  li.story .edit-story {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000389}}
  li.story div.storybody {
    display: inline-block !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000393}}
li.story:last-child {
  border-bottom: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\0000397}}
div#storylist div.full-description ul {
  padding-left: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\00003101}}
div.story-menu {
  position: absolute;
  top: 30px;
  left: 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\00003107}}
div.naam {
  font-size: 24pt;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/sass\/print\.scss}line{font-family:\00003114}}
div.full-description {
  padding: 20px 2px 0px 2px; }
