@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\0000380}}
body {
  font-family: "Droid Sans", arial, sans-serif;
  font-size: 12px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: white;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\0000390}}
h1 {
  /*	font-size: 20px;
  	font-weight: bold;
  	background-color: $main-color;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E8F4FF), to(#ABBDCC));
    padding: 18px;
  	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
    */
  padding: 0;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003102}}
a {
  text-decoration: none;
  color: #ff7800; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003107}}
a:hover {
  color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003111}}
a img {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003115}}
p {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003119}}
#container {
  width: 1000px;
  /*margin:0px auto;*/
  text-align: left;
  	/*padding:10px;
    position: absolute;*/
  left: 50%;
  margin: 0px auto;
  /*margin-left: -510px;*/
  /*	border:1px solid red;*/
  overflow: visible; }

/* header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003134}}
#header {
  	/*overflow: auto;
    	padding-bottom: 20px;
    height: 56px;*/
  background: url(/images/bg-header.png) repeat-x 0px -10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003140}}
  #header div#title {
    background: url(/images/bg-title.png);
    border: 1px solid #e8e8e8;
    height: 45px;
    padding: 10px 18px 0px 18px;
    font-size: 14px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    color: #333;
    font-family: "Yanone Kaffeesatz", "Droid Sans", arial, sans-serif;
    clear: both;
    display: block;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003155}}
    #header div#title h1 {
      text-overflow: ellipsis;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      white-space: nowrap;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003165}}
#logo {
  float: left;
  width: 100px;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  padding-top: 6px;
  padding-left: 6px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  color: #ff7800;
  font-family: "Droid Sans", arial, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003178}}
#logo a {
  color: #ff7800; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003182}}
#topnav {
  overflow: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003184}}
  #topnav ul {
    border-color: #efefef;
    border-style: none solid solid solid;
    border-width: 1px;
    background: url(/images/bg.png);
    padding: 2px 5px 2px 5px;
    margin: 0px;
    height: 18px;
    float: right;
    /*text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);*/
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    font-family: "Droid Sans", arial, sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 0 #fff;
    list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003206}}
  #topnav a {
    color: #343638; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003207}}
  #topnav a:active {
    /*font-weight: bold;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003209}}
  #topnav li {
    display: inline;
    padding: 0;
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003216}}
  #topnav li:before {
    content: "| ";
    color: #e8e8e8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003220}}
  #topnav li:first-child:before {
    content: ""; }

/* content */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003227}}
#content {
  clear: both;
  overflow: hidden;
  display: inline-block;
  /* Necessary to trigger "hasLayout" in IE */
  display: block;
  background: url(/images/bg-main.png) repeat-x 0px -57px;
  padding: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003237}}
form.edit_story {
  padding: 6px 0 0 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003241}}
div.field {
  padding-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003243}}
  div.field textarea#story_description {
    width: 972px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003247}}
  div.field input#story_name {
    width: 972px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003253}}
#subnav {
  overflow: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003255}}
  #subnav ul {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    /*background: $nav-bg;*/
    background: #efefef;
    padding: 2px 5px 2px 5px;
    margin: 0px;
    height: 18px;
    /*text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);*/
    font-family: "Droid Sans", arial, sans-serif;
    font-size: 12px;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.9);
    list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003276}}
  #subnav a:active {
    /*font-weight: bold;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003278}}
  #subnav li {
    display: inline;
    padding: 0;
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003282}}
    #subnav li a {
      color: #343638; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003284}}
  #subnav li:before {
    content: "| ";
    color: #e8e8e8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003288}}
  #subnav li:first-child:before {
    content: ""; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003296}}
#status-menu {
  margin-top: 6px;
  /*	font-family: $font1;*/
  font-size: 12px;
  text-shadow: 1px 1px 0 #fff;
  overflow: hidden;
  margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003305}}
  #status-menu ul {
    /*padding: 2px 0 0 0;*/
    padding: 0;
    margin: 0;
    /*border: 1px solid green;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003313}}
  #status-menu li {
    background-image: url(/images/bg.png);
    height: 28px;
    padding: 0 0 0 0px;
  	/*margin: 3px 5px;
	  border: 1px solid red;*/
    display: block;
    float: left;
    list-style-type: none;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid white;
    border-right: 1px solid #e8e8e8;
   /* a:hover {
	    color: #fff;
    }
    */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003332}}
    #status-menu li a {
      /*margin-top: 10px;*/
      margin: 0px 5px;
      /*border: 1px solid red;*/
      line-height: 28px;
      /*margin-bottom: 5px;*/
      text-decoration: none;
      color: black;
      display: block;
    /*font-family: DroidSansBold, 'Bitstream Vera Sans Bold';
	  font-size: 18px;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003354}}
  #status-menu li:hover {
    background-color: #333333;
    background-image: url(/images/bg-hover.png); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003359}}
  #status-menu li.active {
    background-image: url(/images/bg-active.png);
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003365}}
  #status-menu li:first-child {
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003371}}
  #status-menu li:last-child {
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003376}}
#storylist {
  clear: left;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003381}}
#burndown {
  float: right;
  border: 1px solid #e8e8e8;
  width: 400px;
  height: 450px; }

/* footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003390}}
#footer {
  border-top: 1px solid #e8e8e8;
  margin-top: 10px;
  font-size: 10px;
  color: #C8C8C8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003398}}
div#storylist {
  width: 988px;
  /*width: 580px;
  border: 1px solid blue;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003403}}
  div#storylist > ul {
    display: inline;
    padding: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003409}}
div#storylist.sprint {
  width: 580px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003414}}
div.full-description p {
  padding: 6px 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003419}}
li.story {
  list-style: none;
  background: #f9f9f9;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden;
  /*width: inherit;
	margin-bottom: 5px;
	padding: 3px;
	position: relative;*/
  /*
  @include rounded-left;
  @include rounded-right;
  @include inset-shadow;
  */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003440}}
  li.story div {
    /*  border: 1px solid red; */
    display: inline-block;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003449}}
  li.story .expand {
    width: 22px;
    height: 22px;
    float: left;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003455}}
  li.story .id {
    width: 20px;
    float: left;
    padding-top: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003460}}
  li.story .naam {
    margin-left: auto;
    margin-right: auto;
    /* width: 440px; */
    font-weight: bold;
    display: block;
    height: 22px;
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    white-space: nowrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003470}}
  li.story .priority {
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    white-space: nowrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003474}}
  li.story .description {
    width: 20px;
    height: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003478}}
  li.story .notes {
    width: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003479}}
  li.story .points {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #e8e8e8;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    margin-right: 3px;
    background: rgba(255, 255, 255, 0.4); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003489}}
  li.story .assigned {
    width: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003493}}
  li.story .storyheader {
    width: 100%;
    background-image: url(/images/bg.png);
    padding: 3px 0px 3px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003498}}
  li.story .storybody {
    border-top: 1px solid #e8e8e8;
    background: white;
    padding: 3px;
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003503}}
    li.story .storybody .edit-story {
      float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003509}}
  li.story .story-menu {
    float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003514}}
li.story:first-child {
  border-top: 1px solid #e8e8e8; }

/* fancy list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003524}}
ul.fancy {
  padding: 0 0 6px 0;
  margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003528}}
  ul.fancy li {
    list-style: none;
    background: url(/images/bg.png);
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    height: 28px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003536}}
    ul.fancy li a {
      color: #343638; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003538}}
    ul.fancy li > div {
      padding: 3px 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003542}}
    ul.fancy li div {
      display: inline-block;
      height: 22px;
      line-height: 22px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003548}}
    ul.fancy li div.name {
      width: 600px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003550}}
      ul.fancy li div.name a {
        display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003554}}
    ul.fancy li div.edit {
      width: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003557}}
    ul.fancy li div.destroy {
      width: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003562}}
  ul.fancy li:first-child {
    border-top: 1px solid #e8e8e8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003566}}
  ul.fancy li:hover {
    background: url(/images/bg-hover.png); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003571}}
div#sortable-list {
  width: 49%;
  background: #f6f6f6;
  border: 1px solid #e8e8e8;
  margin-top: 6px;
  min-height: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003578}}
  div#sortable-list h1 {
    color: #e8e8e8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003583}}
div#sortable-list.backlog {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003587}}
div#sortable-list.sprint {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003592}}
#sortable1, #sortable2 {
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 5px 0px;
  float: left;
  margin-right: 10px;
  min-height: 100px;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003602}}
#sortable1 li, #sortable2 li {
  margin: 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003604}}
  #sortable1 li div.naam, #sortable2 li div.naam {
    cursor: move; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003609}}
div#flash_notice {
  padding: 6px;
  margin: 6px;
  border: 1px solid #e8e8e8;
  background: #f6f6f6; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ilja\/work\/trenches\/public\/stylesheets\/style\.scss}line{font-family:\00003616}}
img.icon {
  vertical-align: middle; }
