$main-color: #C2C2C2;
$font1: 'Droid Sans', arial, sans-serif;

$border-color: #bbb;
$radius: 5px;    
$spacer1: 6px;
$nav-bg: url(/images/bg.png);
$nav-bg-active: url(/images/bg-active.png);
$nav-bg-hover: url(/images/bg-hover.png);

$bnt-border-normal: 1px solid $border-color;
$bnt-border-highlight: 1px solid #e9eaea;

$bg-color: #fff;
$link-color: #343638;

@mixin rounded-left {  
  @include rounded-top-left;
  @include rounded-bottom-left;
}


@mixin rounded-top-left {
  border-top-left-radius: $radius;  
  -moz-border-radius-topleft: $radius;  
  -webkit-border-top-left-radius: $radius;  
}

@mixin rounded-bottom-left {  
  border-bottom-left-radius: $radius;    
  -moz-border-radius-bottomleft: $radius;  
  -webkit-border-bottom-left-radius: $radius;
}

@mixin rounded-right {
  @include rounded-top-right;
  @include rounded-bottom-right;
}

@mixin rounded-top-right {
  border-top-right-radius: $radius;  
  -moz-border-radius-topright: $radius;  
  -webkit-border-top-right-radius: $radius;  
}

@mixin rounded-bottom-right {
  border-bottom-right-radius: $radius;  
  -moz-border-radius-bottomright: $radius;  
  -webkit-border-bottom-right-radius: $radius;
}


@mixin inset-shadow {
   -moz-box-shadow:inset 0 0 5px $border-color;
   -webkit-box-shadow:inset 0 0 5px $border-color;
   box-shadow:inset 0 0 5px $border-color;
}

@mixin glow {
   -moz-box-shadow: 0 0 5px $border-color;
   -webkit-box-shadow: 0 0 5px $border-color;
   box-shadow: 0 0 5px $border-color;
}

body {
	font-family: $font1;
	font-size: 12px;
	background: $bg-color;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	background-color: $main-color;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E8F4FF), to(#ABBDCC));
  padding: 18px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: $link-color;
}

a img {
  border: none;
}

#container {
	width:1000px;
	/*margin:0px auto;*/
	text-align:left;
	/*padding:10px;*/
  position: absolute;
  left: 50%;
  margin-left: -510px;
/*	border:1px solid red;*/
	overflow: visible;
}

/* header */

#header {
	overflow: auto;
	padding-bottom: 20px;
}


#logo {
	float: left;
}

#topnav {
  overflow: auto;
  ul {
	  border-color: $main-color;
  	border-style: none solid solid solid;
	  border-width: 1px;
  	background: $nav-bg;

	  padding: 2px 5px 2px 5px;
  	margin: 0px;
    height: 18px;
	  float: right;
  	/*text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);*/
  	
  	@include rounded-bottom-left;
  	@include rounded-bottom-right;
  	
  	font-family: Calibri;
    font-size: 14px;
    text-shadow: 1px 1px 0 #fff;

	  list-style: none;
  }



  a:active { font-weight: bold; }
  
  li {
	  display: inline;
  	padding: 0;
	  margin: 0;
	  
  }

  li:before { 
    content: "| "; 
    color: $border-color;
  }
  li:first-child:before { content: ""; }
}


/* content */

#content {
	clear: both;
	overflow: auto;
}

#status-menu {
  padding-left: $spacer1;
	font-family: Calibri;
	font-size: 14px;

	text-shadow: 1px 1px 0 #fff;
	overflow: auto;
	margin-bottom: 10px;
  
  ul {
    /*padding: 2px 0 0 0;*/
  	padding: 0;
	  margin: 0;
  	/*border: 1px solid green;*/   
  	
  }
  
  li {
  	
	  background-image: $nav-bg;

  	height: 28px;
	  padding: 0 0 0 0px;
  	/*margin: 3px 5px;
	  border: 1px solid red;*/
  	display: block;
	  float: left;
  	list-style-type: none;
	  border-top: $bnt-border-normal;
  	border-bottom: $bnt-border-normal;
	  border-left: $bnt-border-highlight;
  	border-right: $bnt-border-normal;

 

  
    a {
      /*margin-top: 10px;*/
	    margin: 0px 5px;
      /*border: 1px solid red;*/
	    line-height: 28px;
      /*margin-bottom: 5px;*/
      text-decoration: none;
    	color: black;
      /*font-family: DroidSansBold, 'Bitstream Vera Sans Bold';
  	  font-size: 18px;*/
    }
    
   /* a:hover {
	    color: #fff;
    }
    */
  
  }

  
  
  li:hover {
    background-color: #333333;
    background-image: $nav-bg-hover;
  }
  
  li.active {
    background-image: $nav-bg-active;
    color: #fff;
  }
  

  li:first-child {
    @include rounded-left;  
	  border-left: $bnt-border-normal;
  	border-right: $bnt-border-normal;
  }

  li:last-child {
    @include rounded-right;	  
  }
}

#storylist {
  clear: left;
	float: left;
	padding-left: $spacer1;
}

#burndown {
	float: right;
	border: $bnt-border-normal;
}

/* footer */

#footer {
	border-top: $bnt-border-normal;
	margin-top: 10px;
	font-size: 10px;
	color: #C8C8C8;
}


div#storylist {
	width: 580px;
	/*border: 1px solid blue;*/
  
  ul {
  	display: inline;
	  padding: 0px;
  }
}



li.story {
	list-style: none;
	background: #f9f9f9;
	border: $bnt-border-normal;
	width: inherit;
	margin-bottom: 5px;
	padding: 3px;
	position: relative;

  /*
  @include rounded-left;
  @include rounded-right;
  @include inset-shadow;
  */

  div {
    /*  border: 1px solid red; */
    display: inline-block;
    vertical-align: top;
  }
  
  div.expand { width: 20px; }    
  div.id { width: 20px; }
  div.naam { width: 404px; }
  div.priority { width: 20px; }
  div.description { 
    width: 20px;
    height: 20px;
  }
  div.notes { width: 20px; }
  div.points { width: 20px; }
  div.assigned { width: 50px; }
  
}





/*fsd*/
