$main-color: #EFEFEF;
$font1: 'Droid Sans', arial, sans-serif;
$font2: 'Yanone Kaffeesatz', 'Droid Sans', arial, sans-serif;

$border-color: #e8e8e8;
$radius: 5px;    
$spacer1: 6px;
$nav-bg: url(/images/bg.png);
$nav-bg-active: url(/images/bg-active.png);
$nav-bg-hover: url(/images/bg-hover.png);
$bg-title: url(/images/bg-title.png);

$bnt-border-normal: 1px solid $border-color;
$bnt-border-highlight: 1px solid #fff;

$bg-color: #fff;
$link-color: #343638;

@mixin rounded-left {  
  @include rounded-top-left;
  @include rounded-bottom-left;
}


@mixin rounded-top-left {
  border-top-left-radius: $radius;  
  -moz-border-radius-topleft: $radius;  
  -webkit-border-top-left-radius: $radius;  
}

@mixin rounded-bottom-left {  
  border-bottom-left-radius: $radius;    
  -moz-border-radius-bottomleft: $radius;  
  -webkit-border-bottom-left-radius: $radius;
}

@mixin rounded-right {
  @include rounded-top-right;
  @include rounded-bottom-right;
}

@mixin rounded-top-right {
  border-top-right-radius: $radius;  
  -moz-border-radius-topright: $radius;  
  -webkit-border-top-right-radius: $radius;  
}

@mixin rounded-bottom-right {
  border-bottom-right-radius: $radius;  
  -moz-border-radius-bottomright: $radius;  
  -webkit-border-bottom-right-radius: $radius;
}


@mixin inset-shadow {
   -moz-box-shadow:inset 0 0 5px $border-color;
   -webkit-box-shadow:inset 0 0 5px $border-color;
   box-shadow:inset 0 0 5px $border-color;
}

@mixin glow {
   -moz-box-shadow: 0 0 5px $border-color;
   -webkit-box-shadow: 0 0 5px $border-color;
   box-shadow: 0 0 5px $border-color;
}

body {
	font-family: $font1;
	font-size: 12px;
	background: $bg-color;
	margin: 0;
	padding: 0;
}

h1 {
/*	font-size: 20px;
	font-weight: bold;
	background-color: $main-color;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E8F4FF), to(#ABBDCC));
  padding: 18px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
  */
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $link-color;
}

a:hover {
  color: $link-color - 100;
}

a img {
  border: none;
}

#container {
	width:1000px;
	/*margin:0px auto;*/
	text-align:left;
	/*padding:10px;
  position: absolute;*/
  left: 50%;
  margin:0px auto;
  /*margin-left: -510px;*/
/*	border:1px solid red;*/
	overflow: visible;
}

/* header */

#header {
	/*overflow: auto;
  	padding-bottom: 20px;*/
  height: 56px;
  background: url(/images/bg-header.png) repeat-x 0px -10px;
}


#logo {
	float: left;
  width: 100px;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  padding-top: 6px;
  padding-left: 6px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  color: #ff7800;
  font-family: $font1;  
}

#logo a {
  color: #ff7800;
}

#topnav {
  overflow: auto;
  ul {
	  border-color: $main-color;
  	border-style: none solid solid solid;
	  border-width: 1px;
  	background: $nav-bg;

	  padding: 2px 5px 2px 5px;
  	margin: 0px;
    height: 18px;
	  float: right;    
  	/*text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);*/
  	
  	@include rounded-bottom-left;
  	@include rounded-bottom-right;
  	
  	font-family: $font1;
    font-size: 12px;
    text-shadow: 1px 1px 0 #fff;

	  list-style: none;
  }



  a:active { /*font-weight: bold;*/ }
  
  li {
	  display: inline;
  	padding: 0;
	  margin: 0;
	  
  }

  li:before { 
    content: "| "; 
    color: $border-color;
  }
  li:first-child:before { content: ""; }
}


/* content */

#content {
	clear: both;
	overflow: auto;
  background: url(/images/bg-main.png) repeat-x 0px -57px;
  
  
  div#title {
    background: $bg-title;
    border:  $bnt-border-normal;
    height: 45px;
    padding-left: 18px;
    padding-top: 10px;
    font-size: 14px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    color: #333;
    font-family: $font2;
    /*margin-bottom: $spacer1;*/
  }  
  
  
}

#subnav {
  overflow: auto;
  ul {
    border-left: $bnt-border-normal;
    border-right: $bnt-border-normal;
    border-bottom: $bnt-border-normal;

    /*background: $nav-bg;*/
    background: $main-color;

    padding: 2px 5px 2px 5px;
    margin: 0px;
    height: 18px;    
    
    /*text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);*/
    
    font-family: $font1;
    font-size: 12px;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.9);

    list-style: none;
  }

  a:active { /*font-weight: bold;*/ }
  
  li {
    display: inline;
    padding: 0;
    margin: 0;    
  }
  li:before { 
    content: "| "; 
    color: $border-color;
  }
  li:first-child:before { content: ""; }
}



#status-menu {
  padding-left: $spacer1;
  margin-top: $spacer1;
/*	font-family: $font1;*/
	font-size: 12px;

	text-shadow: 1px 1px 0 #fff;
	overflow: auto;
	margin-bottom: 10px;
  
  ul {
    /*padding: 2px 0 0 0;*/
  	padding: 0;
	  margin: 0;
  	/*border: 1px solid green;*/   
  	
  }
  
  li {
  	
	  background-image: $nav-bg;

  	height: 28px;
	  padding: 0 0 0 0px;
  	/*margin: 3px 5px;
	  border: 1px solid red;*/
  	display: block;
	  float: left;
  	list-style-type: none;
	  border-top: $bnt-border-normal;
  	border-bottom: $bnt-border-normal;
	  border-left: $bnt-border-highlight;
  	border-right: $bnt-border-normal;

 

  
    a {
      /*margin-top: 10px;*/
	    margin: 0px 5px;
      /*border: 1px solid red;*/
	    line-height: 28px;
      /*margin-bottom: 5px;*/
      text-decoration: none;
    	color: black;
      display: block;
      /*font-family: DroidSansBold, 'Bitstream Vera Sans Bold';
  	  font-size: 18px;*/
    }
    
   /* a:hover {
	    color: #fff;
    }
    */
  
  }

  
  
  li:hover {
    background-color: #333333;
    background-image: $nav-bg-hover;
  }
  
  li.active {
    background-image: $nav-bg-active;
    color: #fff;
  }
  

  li:first-child {
    @include rounded-left;  
	  border-left: $bnt-border-normal;
  	border-right: $bnt-border-normal;
  }

  li:last-child {
    @include rounded-right;	  
  }
}

#storylist {
  clear: left;
	float: left;
	padding-left: $spacer1;
}

#burndown {
	float: right;
	border: $bnt-border-normal;
  margin-right: $spacer1;
}

/* footer */

#footer {
	border-top: $bnt-border-normal;
	margin-top: 10px;
	font-size: 10px;
	color: #C8C8C8;
}


div#storylist {
	width: 580px;
	/*border: 1px solid blue;*/
  
  ul {
  	display: inline;
	  padding: 0px;
  }
}



li.story {
	list-style: none;
	background: #f9f9f9;
	border-left: $bnt-border-normal;
  border-right: $bnt-border-normal;
  border-bottom: $bnt-border-normal;
  
  /*width: inherit;
	margin-bottom: 5px;
	padding: 3px;
	position: relative;*/

  /*
  @include rounded-left;
  @include rounded-right;
  @include inset-shadow;
  */
  
    

  div {
    /*  border: 1px solid red; */
    display: inline-block;
    vertical-align: middle;
    
    
    
  }
  
    .expand { 
      width: 20px; 
      height: 20px;
    }
    .id { width: 20px; }
    .naam { 
      width: 440px; 
      font-weight: bold;
    }
    .priority { width: 20px; }
    .description { 
      width: 20px;
      height: 20px;
    }
    .notes { width: 20px; }
    .points { width: 20px; }
    .assigned { width: 50px; }
    
    
    
    .storyheader {
    	width: 100%;
      background-image: $nav-bg;
    	padding: 3px 0px;
    }
    .storybody {
    	border-top: $bnt-border-normal;
    	background: white;
    	padding: 3px;
      width: 572px;
    } 
  
  
  
}

li.story:first-child {
  border-top: $bnt-border-normal;
}






/* fancy list */
ul.fancy {
  padding: $spacer1;
  margin: 0;

  li {
    list-style: none;
    background: $nav-bg;

    border-left: $bnt-border-normal;
    border-right: $bnt-border-normal;
    border-bottom: $bnt-border-normal;
    height: 20px;

    div {
      display: inline-block;
      vertical-align: middle;
      padding: 2px;
    }

    div.name {
      width: 600px;
      a {
        display: block;
      }
    }
    div.edit {
      width: 20px;
    }
    div.destroy {
      width: 40px;
    }
  }
 
  li:first-child {
    border-top: $bnt-border-normal;
  }

  li:hover {
    background: $nav-bg-hover;
  }
}

