body {
  font-family: 'Droid Sans', arial, sans-serif; }

h1 {
  font-size: 20px;
  font-weight: bold;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2); }

#container {
  width: 1000px;
  /*margin:0px auto;*/
  text-align: left;
  padding: 10px;
  position: absolute;
  left: 50%;
  margin-left: -510px;
  border: 1px solid red;
  overflow: visible; }

/* header */
#header {
  overflow: auto;
  padding-bottom: 20px; }

#logo {
  border: 1px solid blue;
  width: 100px;
  height: 50px;
  float: left; }

#topnav ul {
  border-color: #c2c2c2;
  border-style: none solid solid solid;
  border-width: 1px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e8f4ff), to(#abbdcc));
  padding: 2px 5px 2px 5px;
  margin: 0px;
  float: right;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
  list-style: none; }
#topnav a {
  text-decoration: none;
  color: #272D32; }
#topnav a:active {
  font-weight: bold; }
#topnav li {
  display: inline;
  padding: 0;
  margin: 0; }
#topnav li:before {
  content: "| "; }
#topnav li:first-child:before {
  content: ""; }

/* content */
#content {
  clear: both;
  overflow: auto; }

#status-menu {
  font-family: Calibri;
  font-size: 14px;
  text-shadow: 1px 1px 0 #fff;
  overflow: auto;
  margin-bottom: 10px; }
  #status-menu ul {
    /*padding: 2px 0 0 0;*/
    padding: 0;
    margin: 0;
    /*border: 1px solid green;*/ }
  #status-menu li {
    background-color: #C5D9EB;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e8f4ff), to(#abbdcc));
    height: 28px;
    padding: 0 0 0 0px;
  	/*margin: 3px 5px;
	  border: 1px solid red;*/
    display: block;
    float: left;
    list-style-type: none;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #e9eaea;
    border-right: 1px solid #333;
    -webkit-box-shadow: 1px 1px 1px #bbb;
    box-shadow: 1px 1px 1px #bbb; }
    #status-menu li a {
      /*margin-top: 10px;*/
      margin: 0px 5px;
      /*border: 1px solid red;*/
      line-height: 28px;
      /*margin-bottom: 5px;*/
      text-decoration: none;
      color: black;
    /*font-family: DroidSansBold, 'Bitstream Vera Sans Bold';
	  font-size: 18px;*/ }
    #status-menu li a:hover {
      color: #fff; }
  #status-menu li:hover {
    background-color: #333333;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c5d9eb), to(#d8e3ed), color-stop(0.6, #6e798a)); }
  #status-menu li:first-child {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-left: 1px solid #333;
    border-right: 1px solid #333; }
  #status-menu li:last-child {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px; }

#storylist {
  clear: left;
  float: left; }

#burndown {
  float: right;
  border: 1px solid grey; }

/* footer */
#footer {
  border-top: 1px solid #C8C8C8;
  margin-top: 10px;
  font-size: 10px;
  color: #C8C8C8; }

div#storylist {
  width: 580px;
  border: 1px solid blue; }
  div#storylist ul {
    display: inline;
    padding: 0px; }

li.story {
  list-style: none;
  background: #e4ebef;
  border: 1px solid #9daab2;
  width: inherit;
  margin: 5px;
  padding: 3px;
  position: relative; }
  li.story div {
    /*  border: 1px solid red; */
    display: inline-block;
    vertical-align: top; }
  li.story div.expand {
    width: 20px; }
  li.story div.id {
    width: 20px; }
  li.story div.naam {
    width: 404px; }
  li.story div.priority {
    width: 20px; }
  li.story div.description {
    width: 20px;
    height: 20px; }
  li.story div.notes {
    width: 20px; }
  li.story div.points {
    width: 20px; }
  li.story div.assigned {
    width: 50px; }

/*fsd*/
