<% flash.each do |name, msg| %>
  <div id="<%= "flash_#{name}" %>" class="flashcontainer">
    <%= "<img src=\"/assets/dialog-#{name}.png\" alt='info' class='icon' /> ".html_safe %>
    <%=  msg %>
  </div>
<% end %>
