<% title("Home") %>
<header>
  <h1>
    Home
  </h1>
</header>

<div id="main" role="main">
  <%= render "shared/flash", :flash => flash %>

  <p><%= link_to "Visit secret page", secret_path %></p>

</div>





