<% title("#{@project.name} / New sprint") %>
<header>
  <h1>
    New Sprint
  </h1>
</header>

<div id="main" role="main">
  <%= render "shared/flash", :flash => flash %>

  <section class="backlog-container">
    <%= render 'form', :button_name => "Create Sprint" %>
  </section>

</div>
