<% title "#{@project.name} - #{@sprint.name}" %>
<%= link_to 'Edit', edit_project_sprint_path(@project, @sprint) %> |
<%= link_to 'Back', project_sprints_path %>
<p id="notice"><%= notice %></p>

<p>copy stories from backlog to sprint</p>


