<% title "#{@project.name} - #{@sprint.name} [#{@sprint.start_date} - #{@sprint.end_date}]" %>
<% render_subnav "sprints/subnav" %>

<q><%= @sprint.goal %></q>

<%= render :partial => 'stories/status-menu', :locals => {:show_new_story => false, :active_menu_item => show_scope} %>

<div id="storylist" class="sprint">
  <ul>
    <%= render :partial => '/stories/story', :collection => @stories %>
	</ul>
</div>

<div id="burndown">
  todo
</div>
