<% title("Edit #{@project.name}") %>
<header>
  <h1>
    Edit <%= @project.name %>
  </h1>
</header>

<div id="main" role="main">
  <%= render "shared/flash", :flash => flash %>

  <section class="backlog-container">
    <%= render 'form', :button_name => "Update Project" %>
  </section>

</div>
