<% title("Edit #{@project.name}") %>
<header>
  <h1>
    Edit <%= @project.name %>
  </h1>
</header>

<div id="main" role="main">
  <%= render "shared/flash", :flash => flash %>

  <section class="backlog-container">
    <%= render :partial => 'form', :locals => {:project => @project, :button_name => "Update Project" }%>
  </section>
  <%= link_to 'Invite users', user_project_members_path(current_user, @project), :class => "button primary", :rel => "manage-members" %>
</div>
