<header>
  <h1>
    New project
  </h1>
</header>

<div id="main" role="main">
  <%= render "shared/flash" %>

  <section class="backlog-container">
    <%= render 'form', :button_name => "Create Project" %>
  </section>

</div>
