<% title "#{@project.name} - backlog" %>
<% render_subnav "projects/subnav" %>


<%= render :partial => 'stories/status-menu', :locals => { :show_new_story => true, :active_menu_item => show_scope } %>

<div id="storylist">
  <ul>
    <%= render :partial => 'story', :collection => @stories %>
	</ul>
</div>


