<%= title "#{@project.name} product backlog" %>
<% render_subnav "shared/subnav" %>

<%= render :partial => 'stories/status-menu', :locals => { :show_new_story => true, :show_my_stories => false, :active_menu_item => show_scope } %>

<div id="storylist">
  <ul id="sortable" data-url="<%= sort_stories_path(@project) %>">
    <%= render :partial => 'story', :collection => @stories, :locals => {:sortable => true} %>
  </ul>
</div>