<% title("#{@project.name} / New Story") %>
<header>
  <h1>
 	<%= link_to @project.name, user_project_path(current_user, @project) %>
    /
    New Story
  </h1>
</header>

<div id="main" role="main">
  <%= render "shared/flash", :flash => flash %>

  <section class="backlog-container">
    <%= render :partial => "form", :locals => { :button_name => "Create Story", :story => @story, :project => @project, :current_user => current_user, :remote => false } %>
  </section>

</div>
