@import "shared.scss";

$font3: 'EB Garamond', Times new roman, serif;
$lightgrey: #a4a4a4;


@mixin label {
    
    /*    opacity: 0.2;*/
    /* 	border: $bnt-border-normal;*/
    /*		@include rounded; */
    /*    margin-right: 3px;
    background: $lightgrey !important;*/
    padding-right: 5px;
    /*    padding: 2px;
    margin: 2px;*/
}

@mixin label_font {
    font-family: $font1;
    font-size: 10pt;
}

@media print {

body {
  width:100% !important;
  margin:0 !important;
  padding:0 !important;
  line-height: 1.4;
  word-spacing:1.1pt;
  letter-spacing:0.2pt; 
  font-family: $font3;
  color: #000; 
  background: none; 
  font-size: 12pt;

}

a:link, a:visited {
  color: #520;
  background: transparent;
  font-weight: bold;
  text-decoration: underline;
}

a:link:after, a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
}

div#logo, div#topnav, div#footer, div#subnav, div#status-menu, div#burndown {
  display:none;
}

div#storylist ul {
  padding: 0;
}

span.soft {
  color: red;
}

li.story {
  display: block;
  border-bottom: 1px solid #ddd;
  margin: 30px 0 15px 0;

  div.expand {
    display: none;
  }


  div {
    display: inline-block;
  }
  .storyheader {
    width: 100%;
    height: 24px;
    position: relative;   
    div.grip {
      display: none;
    }
  }
  .story-menu {
    vertical-align: middle;
    display: block;
  }
  .priority {
    white-space: nowrap;
    width: auto;   
    @include label_font;
  }
  .priority:before {
    content: "Priority: ";
    @include label;
  }
  .points {
    padding-left: 15px;
    width: auto;
    @include label_font; 
  }
  .points:before {
    content: "Story Points: ";
    @include label;
  }
  .edit-story {
    display: none;
  }

  div.naam {
    font-size: 16pt;
    font-weight: bold;   
  }

  div.storybody {
    display: inline-block !important;    
  }  
}
li.story:last-child {
  border-bottom: none;
}

div#storylist div.full-description ul {
    padding-left: 40px;
}

.button, .button-group, nav, footer {
  display: none;
}

li.story div.points {
  width: auto;
  border: none;
  background: none;
}

li.story div.naam {
  /* font-size: 16px;*/
}

header h1 a, header h1 a:visited {
  text-decoration: none;
}
header h1 a[href]:after { content: ""; }


}